{% extends 'home.html' %}
{% load static %}
{% block content %}

<div class="container">        
    <div class="row">

    <div class="col-lg-6" style="margin-top: 200px;">
<div>   
   <form action="{% url 'getData' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="Standard" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="text" class="form-control" id="password" aria-describedby="Standard" name="password">
      </div>
    

    <button type="submit" class="btn btn-primary">Login</button>

  </form>
  <p>{{msg}}</p>
</div>
</div>
</div>
</div>
  {% endblock %}